<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Give us your location to make money of it :)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Give us your location to make money of it :)</string>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
